background-image: linear-gradient(to top, #9c9fff 0%, #7476bd 100%);
background-repeat: no-repeat;
background-color: #9C9FFF;

background-image: linear-gradient(to top, #9cd3ff 0%, #7476bd 100%);
background-repeat: no-repeat;
background-color: #9cd3ff;